version: '3.9'

services:
  web:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - .:/backend
    command: >
      sh -c "
        python manage.py wait_for_db &&
        python manage.py migrate &&
        # python manage.py loaddata categories.json &&
        python manage.py runserver 0.0.0.0:8000"
    env_file:
      - ./.env

    depends_on:
      - db

  db:
    image: postgres:14
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5432"
    env_file:
      - ./.env
    restart: "on-failure"

  redis:
    image: redis:alpine

  celery:
    restart: always
    build:
      context: .
    command: celery -A HabbitBackend worker -l info
    volumes:
      - .:/backend
    env_file:
      - ./.env
    depends_on:
      - db
      - redis
      - web

volumes:
  pgdata:
